In [76]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LeakyReLU, Input, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping, LearningRateScheduler
from imblearn.over_sampling import SMOTE
from tensorflow.keras import regularizers
from tensorflow.keras.callbacks import EarlyStopping

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [82]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [83]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [84]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

rare_application_types = application_type_counts[application_type_counts < 500].index
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(rare_application_types, 'Other')
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [85]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500

application_types_to_replace = application_type_counts[application_type_counts < cutoff].index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [86]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

# Identify classifications to replace
classification_types_to_replace = classification_counts[classification_counts < 500].index

# Replace rare classifications with "Other"
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to ensure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [87]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [88]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 500

classifications_to_replace = classification_counts[classification_counts < cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [89]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, drop_first=True)
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  \
0       1     5000              1                  True                 False
1       1   108590              1                 False                 False
2       1     5000              0                 False                 False
3       1     6692              1                 False                 False
4       1   142590              1                 False                 False

   APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                 True                False                False

   APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  ORGANIZATION_Trust  \
0                False                False  ...               False
1                False                False  ...               False
2                False                False  ...               False
3                False                False  ...                True
4                False                False  ...                True

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0            False              False                     False
1            False              False                     False
2            False              False                     False
3            False              False                     False
4            False              False                     False

[5 rows x 38 columns]

In [90]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

print(f"Features (X) shape: {X.shape}")
print(f"Target (y) shape: {y.shape}")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Features (X) shape: (34299, 37)
Target (y) shape: (34299,)
Training features shape: (27439, 37)
Testing features shape: (6860, 37)
Training target shape: (27439,)
Testing target shape: (6860,)

In [91]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [92]:
# Define the EarlyStopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

model = Sequential()
model.add(Dense(128, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))

# Add more layers with batch normalization
model.add(Dense(64, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Dense(1, activation='sigmoid'))

# Compile the model with adjusted learning rate
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

# Train the model
history = model.fit(
    X_train_scaled, y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=100,
    batch_size=32,
    callbacks=[early_stopping],
    verbose=1
)

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
858/858  7s 4ms/step - accuracy: 0.6630 - loss: 0.6708 - val_accuracy: 0.7153 - val_loss: 0.5709
Epoch 2/100
858/858  3s 4ms/step - accuracy: 0.7189 - loss: 0.5791 - val_accuracy: 0.7220 - val_loss: 0.5655
Epoch 3/100
858/858  6s 5ms/step - accuracy: 0.7239 - loss: 0.5721 - val_accuracy: 0.7194 - val_loss: 0.5637
Epoch 4/100
858/858  4s 3ms/step - accuracy: 0.7228 - loss: 0.5659 - val_accuracy: 0.7238 - val_loss: 0.5611
Epoch 5/100
858/858  3s 3ms/step - accuracy: 0.7254 - loss: 0.5624 - val_accuracy: 0.7268 - val_loss: 0.5593
Epoch 6/100
858/858  3s 3ms/step - accuracy: 0.7251 - loss: 0.5631 - val_accuracy: 0.7239 - val_loss: 0.5588
Epoch 7/100
858/858  4s 5ms/step - accuracy: 0.7238 - loss: 0.5609 - val_accuracy: 0.7230 - val_loss: 0.5615
Epoch 8/100
858/858  3s 4ms/step - accuracy: 0.7247 - loss: 0.5614 - val_accuracy: 0.7258 - val_loss: 0.5566
Epoch 9/100
858/858  5s 3ms/step - accuracy: 0.7270 - loss: 0.5576 - val_accuracy: 0.7224 - val_loss: 0.5606
Epoch 10/100
858/858  3s 4ms/step - accuracy: 0.7266 - loss: 0.5597 - val_accuracy: 0.7251 - val_loss: 0.5565
Epoch 11/100
858/858  4s 5ms/step - accuracy: 0.7269 - loss: 0.5598 - val_accuracy: 0.7276 - val_loss: 0.5568
Epoch 12/100
858/858  3s 3ms/step - accuracy: 0.7321 - loss: 0.5528 - val_accuracy: 0.7233 - val_loss: 0.5592
Epoch 13/100
858/858  5s 3ms/step - accuracy: 0.7276 - loss: 0.5562 - val_accuracy: 0.7278 - val_loss: 0.5583
Epoch 14/100
858/858  6s 4ms/step - accuracy: 0.7238 - loss: 0.5613 - val_accuracy: 0.7276 - val_loss: 0.5567
Epoch 15/100
858/858  4s 3ms/step - accuracy: 0.7309 - loss: 0.5539 - val_accuracy: 0.7241 - val_loss: 0.5587
Epoch 16/100
858/858  3s 4ms/step - accuracy: 0.7316 - loss: 0.5570 - val_accuracy: 0.7297 - val_loss: 0.5562
Epoch 17/100
858/858  6s 5ms/step - accuracy: 0.7298 - loss: 0.5563 - val_accuracy: 0.7259 - val_loss: 0.5566
Epoch 18/100
858/858  4s 3ms/step - accuracy: 0.7333 - loss: 0.5494 - val_accuracy: 0.7265 - val_loss: 0.5580
Epoch 19/100
858/858  3s 3ms/step - accuracy: 0.7267 - loss: 0.5547 - val_accuracy: 0.7296 - val_loss: 0.5556
Epoch 20/100
858/858  5s 6ms/step - accuracy: 0.7369 - loss: 0.5503 - val_accuracy: 0.7287 - val_loss: 0.5588
Epoch 21/100
858/858  7s 7ms/step - accuracy: 0.7262 - loss: 0.5569 - val_accuracy: 0.7262 - val_loss: 0.5556
Epoch 22/100
858/858  4s 4ms/step - accuracy: 0.7307 - loss: 0.5523 - val_accuracy: 0.7257 - val_loss: 0.5551
Epoch 23/100
858/858  6s 5ms/step - accuracy: 0.7295 - loss: 0.5569 - val_accuracy: 0.7265 - val_loss: 0.5580
Epoch 24/100
858/858  3s 3ms/step - accuracy: 0.7315 - loss: 0.5525 - val_accuracy: 0.7271 - val_loss: 0.5542
Epoch 25/100
858/858  5s 3ms/step - accuracy: 0.7335 - loss: 0.5519 - val_accuracy: 0.7239 - val_loss: 0.5553
Epoch 26/100
858/858  6s 5ms/step - accuracy: 0.7281 - loss: 0.5568 - val_accuracy: 0.7233 - val_loss: 0.5556
Epoch 27/100
858/858  4s 3ms/step - accuracy: 0.7290 - loss: 0.5561 - val_accuracy: 0.7280 - val_loss: 0.5567
Epoch 28/100
858/858  3s 4ms/step - accuracy: 0.7340 - loss: 0.5494 - val_accuracy: 0.7245 - val_loss: 0.5550
Epoch 29/100
858/858  3s 4ms/step - accuracy: 0.7291 - loss: 0.5558 - val_accuracy: 0.7278 - val_loss: 0.5560
Epoch 30/100
858/858  5s 4ms/step - accuracy: 0.7383 - loss: 0.5475 - val_accuracy: 0.7277 - val_loss: 0.5545
Epoch 31/100
858/858  3s 3ms/step - accuracy: 0.7300 - loss: 0.5530 - val_accuracy: 0.7245 - val_loss: 0.5554
Epoch 32/100
858/858  6s 4ms/step - accuracy: 0.7312 - loss: 0.5514 - val_accuracy: 0.7281 - val_loss: 0.5548
Epoch 33/100
858/858  4s 3ms/step - accuracy: 0.7345 - loss: 0.5513 - val_accuracy: 0.7281 - val_loss: 0.5571
Epoch 34/100
858/858  5s 3ms/step - accuracy: 0.7347 - loss: 0.5490 - val_accuracy: 0.7273 - val_loss: 0.5556

In [93]:
# Evaluate the optimized model
loss, accuracy = model.evaluate(X_test_scaled, y_test)
print(f"Optimized Model Loss: {loss}")
print(f"Optimized Model Accuracy: {accuracy}")

# Save the optimized model
model.save('AlphabetSoupCharity_Optimization.h5')

215/215  0s 1ms/step - accuracy: 0.7277 - loss: 0.5527

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Optimized Model Loss: 0.5541560649871826
Optimized Model Accuracy: 0.7271137237548828